*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}
/* *****starting landing page****** */
.landingpage{
   width: 100%;
   height: 100vh;
   background-image: url('blood\ orginal.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

/*landing page navigation*/
.landingnav{
    height: 80px;
    width: 100%;
    background: #ff9966;  
    background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  
    background: linear-gradient(to top, #ff5e62, #ff9966); 
}

/*logo-image*/
.logo img{
    width: 42px;
    position: absolute;
    top:17px;
    left:3%;
}
/*menu-bar*/
.menu .ul{
    float: right;
    margin-right:25px;
}
.menu .ul li{
    display: inline;
    line-height: 80px;
    margin: 0 15px;
}
.menu .ul li a{
    position: relative;
    color: rgb(254, 253, 253);
    font-size: 18px;
    font-weight: 400;
    transition: all 400ms;  
}
.ul li a:hover{
    font-weight: 500;
    padding:10px ;
    background: rgb(231,45,45);
    background: linear-gradient(90deg, rgba(231,45,45,1) 0%, rgba(253,29,29,1) 57%, rgba(252,112,52,1) 100%, rgba(252,130,57,1) 100%, rgba(252,176,69,1) 100%);
    color:rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    }

.menu label #btn,
label #cancel{
color: rgb(255, 255, 255);
font-size: 30px;
float: right;
line-height: 80px;
margin-right: 4%;
cursor: pointer;
display: none;
}
#check{
    display: none;
}
.home{
    font-weight: 500;
    padding:10px ;
    background: rgb(231,45,45);
    background: linear-gradient(90deg, rgba(231,45,45,1) 0%, rgba(253,29,29,1) 57%, rgba(252,112,52,1) 100%, rgba(252,130,57,1) 100%, rgba(252,176,69,1) 100%);
    color:rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
}
/*  media query of nav */
@media(max-width:1118px) {
.logo img{
    left:2%;
}
}
@media(max-width:944px) {
    .logo img{
        left:1%;
        top:16px;
        width: 30px;
    }
    .menu .ul li{
        font-size: 15px;
    }
    }
    @media(max-width:886px) {
        
        .menu .ul li{
            font-size: 15px;
        }
        .menu label #btn{
            display: block;
        }
        .menu .ul{
           position:fixed; 
           width: 100%;
           height: 100vh;
           background:rgba(0, 0, 0, 0.9);
           left:-100%;
           text-align: center;
           transition: all .8s ;
        }
        .menu .ul li{
            margin-top: 2%;
            display: block;
        }
        .menu .ul li a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin: 50px 0;
            line-height: 30px;
            font-size: 20px;
        }
        #check:checked~.ul{
         left: -15%;
        }
        #check:checked ~ label #btn{
            display: none;
        }
        #check:checked ~ label #cancel{
         display: block;
        }

    }

/*form box for find doner*/
.main{
    padding-top: 8%;
}
/* box color with red gradient for user search*/
.box{
    margin:auto ;
    width: 450PX;
    height: 400PX;
    background: rgb(231,45,45);
    background: linear-gradient(90deg, rgba(231,45,45,1) 0%, rgba(253,29,29,1) 57%, rgba(252,112,52,1) 100%, rgba(252,130,57,1) 100%, rgba(252,176,69,1) 100%);
    color: rgb(254, 250, 250);
    transform: translate(-50%,-50);
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 20px;
    }
.box h1{
        margin: 0;
        padding: 0 0 20px;
        font-size: 22px;
        text-align: center;
    }
#bloodgroup{
        font-size: 15px;
        outline:none;
        width: 80%;
        height: 50px;
        border: none;
        border-radius: 6px;
        margin: 20px;
        background: rgb(255, 255, 255);
        color:rgb(250, 44, 3);
        padding: 0 10px;
        }
       
.userform{
            text-align: center;

        }

.userform button{
            
            margin-top:20px;
            width: 80%;
            height: 50px;
            border-radius: 10PX;
            outline: NONE;
            border: none;
            background: rgb(255, 253, 253);
            color: rgb(254, 6, 6);
            font-size: 100%;
            font-weight: bold;
        }
        
        .userform button:hover{
        background: rgb(32, 35, 46);
        color:white;
        transition: all 400ms;  
        }

        /* red form box media query*/
       
@media screen and (max-width: 500px) {
   .box{
     width: 400PX;
    height: 420PX;
   }
}

@media screen and (max-width: 427px) {
    .box{
      width: 350PX;
     height: 389PX;
    }
 }

 @media screen and (max-width: 360px) {
    .box{
      width: 300PX;
     height: 350PX;
    }
 }

 @media screen and (max-width: 308px) {
    .box{
      width: 250PX;
     height: 350PX;
    }
 }

 /************END OF LANDING PAGE********/


/*************STRATING-FOOTER***********/
.container{
    text-align: center;
    max-width:1170px;
    margin: auto
}
.footer{
    height: 100vh;
    text-align: center;
    background: #24262b;
    padding: 70px 0;
}
.footer-col{   
    padding: 0 15px;
    
}
.footer-col h4{
font-size:18px ;
color: rgb(255, 218, 9);
margin-top: 20px;
margin-bottom: 20px;
}
.footer ul {
    
    font-size: 19px;
    margin-bottom: 40px;}
.footer-col ul  p{
  margin-bottom:3px ;  
  color: white;
}
 ul  a{
    display:inline;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
}

.social-links a i{
    
     margin: 5px;
     font-size: 100%;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;


}
@media screen and (max-width: 630px){
.social-links{   
    display: block;
    justify-content: center;
}
.social-links li{
    margin: 10px;
    margin: auto;
    justify-content: center;

}
ul  a{
    display:inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
    
}
.social-links{
    padding-left: 0;
}

}
.copyright{
    color: rgb(122, 119, 119);
}
